<!DOCTYPE html>
<!-- vim: set softtabstop=4 tabstop=4 shiftwidth=4 expandtab: -->
<html>
<head>
    
    <title>Papyri</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/png" href="./papyri-32x32.png" />
    <link rel="icon" type="image/png" href="./papyri-32x32.png"/>

    <link rel="stylesheet" href="./assets/css/papyri.css"/>
    
    <link rel="stylesheet" href="./assets/css/leaflet.css"/>
    <script src="./assets/js/leaflet.js"></script>

    <script src="./assets/js/leaflet-fullHash.js"></script>

    <link rel="stylesheet" href="./assets/css/L.Control.MousePosition.css"/>
    <script src="./assets/js/L.Control.MousePosition.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script src='https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js'></script>
</head>
<body>

<div id='map'></div>

<script>

    dimSet = new Set();
    tileLayers = new Object();
    tilesUrl = './tiles/{id}/{z}/{x}/{y}.png'
    overlays = new Object();
    overlaysHash = new Object();
    function loadJSON(file, callback) {   
        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', file, true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
            // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
            callback(xobj.responseText);
            }
        };
        xobj.send(null);  
    }


    factor = 1 / 2 ** 16
    L.CRS.pr = L.extend({}, L.CRS.Simple, {
        projection: L.Projection.LonLat,
        transformation: new L.Transformation(
            factor, 
            64 * factor, 
            factor, 
            64 * factor),
        scale: function(zoom) {
            return Math.pow(2, zoom);
        },

        zoom: function(scale) {
            return Math.log(scale) / Math.LN2;
        },

        distance: function(latlng1, latlng2) {
            var dx = latlng2.lng - latlng1.lng,
            dy = latlng2.lat - latlng1.lat;
            
            return Math.sqrt(dx * dx + dy * dy);
        },
        
        infinite: true
    });
    

    const IDcolors = ["red", "blue", "green", "purple", "orange"];
    const scaleText = ["1:1", "1:2", "1:4", "1:8", "1:16"]
    const regionGradient = ["#fb0004","#f70008","#f3000c","#ef0010","#eb0014","#e70018","#e4001b","#e0001f","#dc0023","#d80027","#d4002b","#d0002f","#cc0033","#c80037","#c4003b","#c0003f","#bc0043","#b80047","#b4004b","#b1004e","#ad0052","#a90056","#a5005a","#a1005e","#9d0062","#990066","#95006a","#91006e","#8d0072","#890076","#85007a","#81007e","#7e0081","#7a0085","#760089","#72008d","#6e0091","#6a0095","#660099","#62009d","#5e00a1","#5a00a5","#5600a9","#5200ad","#4e00b1","#4b00b4","#4700b8","#4300bc","#3f00c0","#3b00c4","#3700c8","#3300cc","#2f00d0","#2b00d4","#2700d8","#2300dc","#1f00e0","#1b00e4","#1800e7","#1400eb","#1000ef","#0c00f3","#0800f7","#0400fb"];

    clusterGroupConfig =  {
        iconCreateFunction: function(cluster) {
        return L.divIcon({
            iconSize: [576, 48],
            className: 'banner-marker',
            html: '<img class="banner-image" src="./assets/banner-images/multiple.png"/><span class="banner-name">' + cluster.getChildCount() + '</class>' 
            });
        }
    }
    
    function handleClick(e) {
        var html = '<span style="font-size:16px;font-family:unifont">';
        var match = leafletPip.pointInLayer(
        // the clicked point
        e.latlng,
        // this layer
        e.target,
        // whether to stop at first match
        false);
        if (match.length) {
            for (var i = 0; i < match.length; i++) {
                var maps = match[i].feature.properties.maps
                    scale = match[i].feature.properties.scale 
                    html += "<span style=\"color:" + IDcolors[scale] + "\">"
                    html +=  scaleText[scale] + " scale:</br>"
                for (var j = 0; j < maps.length; j++) {
                    html += "map ID " + maps[j].id + "</br>"
                    html += '<img src="./maps/' + maps[j].filename + '" height="256" width="256"/></br>'
                }
                html += "</span></br>"
            }
        html += "</span>"
        }
        if (html) {
            map.openPopup(html, e.latlng, {maxHeight:320, maxWidth:300, minWidth:300});
        }
    }
    
    styleMaps = { style: function (feature) {
            return {color: IDcolors[feature.properties.scale]}
        }
    }
                
    styleCustom = { style: function (feature) {
            return feature.properties.style
        }
    }

    loadJSON('maps.json', function(response) {
        // Parse JSON string into object
        markers = JSON.parse(response);
        for ( var i=0; i < markers.length; ++i ) {
            dimSet.add(markers[i].properties.dimension);
        };
        
        for (var it = dimSet.values(), val= null; val=it.next().value;) {
            tileLayers[val] = L.tileLayer(tilesUrl, {id: val, maxZoom: 20, maxNativeZoom: 17});
            overlays[val] = {"banners": L.markerClusterGroup(clusterGroupConfig),
                             "custom": L.geoJSON(null, styleCustom),
                             "maps": L.geoJSON(null, styleMaps).on('click', handleClick)
                            };
            overlaysHash[val] = tileLayers[val]
            overlaysHash[val + "_" + "banners"] = overlays[val]["banners"]
            overlaysHash[val + "_" + "maps"] = overlays[val]["maps"]
            overlaysHash[val + "_" + "custom"] = overlays[val]["custom"]
        }
        
        loadJSON('banners.json', function(response) {
            // Parse JSON string into object
            markers = JSON.parse(response);

            for ( var i=0; i < markers.length; ++i ) {
                L.marker( [markers[i].Z, markers[i].X], {icon: L.divIcon({
                    iconSize: [576, 48],
                    className: 'banner-marker',
                    html: '<img class="banner-image" src="./assets/banner-images/'
                    + markers[i].color + 'banner.png"/><span class="banner-name">'
                    + markers[i].name + '</class>' })}).addTo( overlays[markers[i].dimension]['banners'] );
        }});

        loadJSON('custom.json', function(response) {
            // Parse JSON string into object
            markers = JSON.parse(response);

            for ( var i=0; i < markers.length; ++i ) {
                overlays[markers[i].properties.dimension]['custom'].addData(markers[i]);
            };
        });
        
        
        loadJSON('maps.json', function(response) {
            // Parse JSON string into object
            markers = JSON.parse(response);

            for ( var i=0; i < markers.length; ++i ) {
                overlays[markers[i].properties.dimension]['maps'].addData(markers[i]);
            };
        });
        map = L.map('map', {
            crs: L.CRS.pr,
            layers: [tileLayers["minecraft@overworld"]],
            //touchZoom: false
        });
            

        L.control.mousePosition().addTo(map);

        map.fitBounds([[-1000, -1000], [1000, 1000]]);
       
        console.log("adding initial layer")
        control = L.control.layers(tileLayers, overlays["minecraft@overworld"]);
        control.addTo(map);
        var hash = new L.Hash(map, overlaysHash);

        map.on('baselayerchange', function (event) {
            map.closePopup();
            Object.entries(overlays).forEach(overlaydim => {
                Object.entries(overlaydim[1]).forEach(overlay => {
                
                    overlay[1].remove()
                })
            });
            function remControl(e) {
                control.remove()
                control = L.control.layers(tileLayers, overlays[e.name])
                control.addTo(map)
            }
            remControl(event)

        });
});




</script>
</body>
</html>
